<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>My blog @oh1rouny</title>
        <link>http://oh1rouny.bitbucket.org/blog/html/</link>
        <description></description>
        <language>en-us</language>
        <pubDate>Sat, 23 Mar 2013 00:00:00 +0800</pubDate>
        
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/03/23/japanese_food.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/03/23/japanese_food.html</guid>
            <title><![CDATA[银座，风筝，金枪鱼]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>银座，风筝，金枪鱼</h1>
<p>中午和泽理去市区逛了逛。</p>
<p>先去了幸福门，幸福门观光的门票由去年的20涨到了38。骂了一句，在海边坐了会儿。接着去了银座商厦。确实很气派，我只是疑惑以前怎么没有注意到，就在幸福门的对面啊。里面地上5层，地下2层。先去了苹果零售店，直奔带Retina屏的Macbook，屏幕显示真他妈的惊艳。价格稍贵，我等自然买不起只有看星星的份。又看了iPad Mini，7寸屏幕拿在手里挺合适，有种想买的冲动。逛完苹果店逛其他的楼层，没产生兴趣。最后回到1楼去了星巴克点了两杯抹茶拿铁。</p>
<p>喝完从银座出来一路走到市政府前，躺在草地上晒了会儿阳光。广场上有一些人在放风筝，小孩、老人都有。老人们放风筝挺利索，很大的风筝不费劲就上天了。小孩还有小狗们在乱跑。泽理说了句，我想放一只骨头（风筝），地面上众狗狂吠。</p>
<p>接着，我们去了一家韩国人开的日本料理店，点了金枪鱼寿司和鱼籽饭。鱼籽饭其实是韩国的，口味一般，而碗底的锅巴酥脆好吃。金枪鱼寿司第一次吃，也算是我第一次吃生鱼片。开始时没看见金枪鱼片上已经抹了点芥末，于是我又蘸了点芥末，泽理劝我少蘸一点（幸亏我听了他的话），然后一口塞进嘴里猛嚼一阵，突然芥末味猛冲脑门，有种七窍出血的感觉。泽理乐了，说他的建议是如此的明智。接着他说，刚才我蘸多了芥末，脸都快绿了。不知道是不是生鱼片冷冻久了还是芥末味掩盖了鱼肉味，总之没体味到太多的鱼肉味。本来我是不喜欢生的食物，但这次体验了一把生鱼片，觉得还可以，不是想象中的那么难吃。</p>
<p>下午回到学校已经五点多了。很是对不起中午约好下午四点打网球求虐的同学，只好改天虐他们了：）</p>
<p>幸福的半天。</p>
</div>]]></description>
            <category><![CDATA[ Diary ]]></category>
             <pubDate>Sat, 23 Mar 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/03/09/korea_ssambap.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/03/09/korea_ssambap.html</guid>
            <title><![CDATA[品尝韩国包饭]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>品尝韩国包饭</h1>
<p>下午折腾点东西，没搞出来，心情极坏，想晚上出去吃补补心情。正好下楼碰见我前上铺杰，正好他也准备去吃饭。我索性叫上他出去吃，去了韩国包饭餐馆。一开门老板就来了句韩语你好，我们尴尬地回了句汉语你好。然后老板递来菜单，一看，满眼韩文，还好，有汉语解释。从前到后、从后到前翻了几遍，最后点了烧牛肉包饭。</p>
<p>时间不长，菜上来了。一大盘烧牛肉，许多碟凉菜，还有一大盘生菜，差点忘了还有两碗米饭。之前没吃过韩国包饭，所以不会吃。大概研究了一下，用生菜包各种食材，塞进嘴里，剩下的就是猛劲地嚼，满口汁液，浓郁奇妙，味蕾充分享受了一把。我吃得津津有味。而杰有些不习惯，乖乖地采取传统的方法——盖浇饭吃法……</p>
<p>吃到最后，虽然吃得很嗨，但仍心存一丝疑虑。向老板求证，他生动形象地做手势告诉我吃法就是这样。这才定下心来：）</p>
<p>貌似杰没吃饱，出了餐馆买了十串羊肉串，并点了两瓶威海卫啤酒。</p>
<p>今晚我算是吃撑了。心情恢复满槽。明天继续奋斗～</p>
</div>]]></description>
            <category><![CDATA[ Diary ]]></category>
             <pubDate>Sat, 09 Mar 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/02/25/d2_25.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/02/25/d2_25.html</guid>
            <title><![CDATA[二月底]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>二月底</h1>
<p>不知不觉二月底了，寒假也结束了。本想提前几天回学校，结果一拖再拖，拖到最后一天也就是元宵节这天回学校。在车上看了会何伟的《甲骨文》，累了打个盹，再看会儿车外的景色，就这么一路回到威海。因为元宵节，一路上不断看到远处绽放的烟花，很美妙的感觉，不禁从包里拿出唯一的一罐八宝粥愉悦地吃完，吃完用手机发了个心情，继续欣赏车外的烟花。</p>
<p>想想寒假做的事，屈指可数。</p>
<blockquote>
<div><p>学习上面，深入学习Linux，愈发感受到它的魅力；初步了解前端，入门HTML和CSS。</p>
<p>阅读方面，《我的奋斗》、《潜规则》、《灿烂涅槃：柯特·科本的一生》、《三体1》、《棋王》、《你的灯亮着吗？》、《Just for Fun》、《中国吃》等，书不多，挺杂。</p>
<p>初步实践了最最基本的饭菜，比如炒饭。总觉得人生不如意事太多，吃饭上就更不能亏待自己。</p>
<p>见了一些同学，某位同学我一直没认出来，囧死我了。有次因为手机抽风，漏了些电话，导致少见了一个人，颇感遗憾。现在手机刷了MIUI，经过几天的使用，信号完全没问题。估计不会再发生这样的意外了。</p>
</div></blockquote>
<p>寒假大概就是这个样子，有收获有遗憾。</p>
<p>下午继续收拾宿舍，买些生活用品，搞好个人卫生。今年肯定不会让舍友失望的：）</p>
<p>三月将至，该更加努力了！</p>
</div>]]></description>
            <category><![CDATA[ Diary ]]></category>
             <pubDate>Mon, 25 Feb 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/02/15/flash.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/02/15/flash.html</guid>
            <title><![CDATA[刷机]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>刷机</h1>
<p>本来我是没有给手机设置密码锁屏的习惯，觉得没有必要，这几天心血来潮，设置了一个V形图案锁屏。昨天晚上，小妹想破解我的锁屏密码，没想到在连续输错20次后解锁必须要输入google账号和密码验证。原先我只知道连续试错5次会强制30秒不能输入，这下好了，账号还是很久之前注册的，早忘了。而且，最关键的是手机需要联网验证，此时手机并没上网。这一条路堵死了，只好换一条路。网上提供了adb驱动解锁的办法，但是没用，输入adb shell后结果总是返回sh: applet not found。无奈，只好采取最下策的方法——清除手机数据。过程很顺利，不一会儿就又看到熟悉的主页面。重新设置google账号，联网导入通讯录，一阵忙活后手机差不多恢复到之前的状态。然后，重启手机发现刚弄好的东西都消失了，又得重来一遍。不甘心，又试了一次，依然如此。</p>
<p>网上提供的这三种方法依次试了个遍，都没用。既然这样，只能死马当活马医了——刷机。我不算一个刷机爱好者，不会为了追求各种功能而刷各种ROM包，一个稳定、流畅的ROM包足矣。手机现在用的是CM9，还是去年九月份刚回学校时刷的，一直用到现在。总的说来还不错，省电、操作流畅等等。不过这次我想体验体验MIUI。</p>
<p>中午上街买了一个TF卡读卡器，有点贵，质量可以。买回来之后照着MIUI官方给出的刷机步骤，花了不到40分钟就刷好了。确实，诚如许多人所说，MIUI比CM更人性化。各种设置更易上手。不出所料，MIUI又该用很长时间了：）</p>
</div>]]></description>
            <category><![CDATA[ Diary ]]></category>
             <pubDate>Fri, 15 Feb 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/01/17/linus_torvald.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/01/17/linus_torvald.html</guid>
            <title><![CDATA[Linus Torvald]]></title>
            <description><![CDATA[<div class="section" id="linus-torvald">
<h1>Linus Torvald</h1>
<p>早上突然想起电脑硬盘里还有本Linus Torvalds的自传《Just for Fun》没看完，之后花费一个上午的时间读完剩余的部分。这本自传没有过多谈论Linux的开发过程，更多的是Linus早期的生活经历和她的思想。</p>
<p>少年时的Linus算是个彻底且典型的“书呆子”，不善社交，数学、物理好得一塌煳涂，对电脑格外感兴趣。他母亲就这样对她朋友说，Linus是个非常好养的孩子，只要把他放在一个黑咕隆咚的储藏柜里，再配上一台电脑，偶尔朝里面扔一些意大利麵条，他就感到格外高兴了。后来，这成为他的生活常态，经常不分昼夜的编程。生活变得如此简单，“编程——睡觉——编程——睡觉——编程——吃饭（饼干）——编程——睡觉——编程——洗澡（冲冲了事）——编程”。</p>
<p>谈到开发Linux，说来话长。一开始Linus不满意MINIX下的terminal emulation，于是他决心自己做一个，而且是从硬件层面上完成它。后来，他想写一个磁盘驱动程序用来保存文件，但是随着工作量的增加，他逐渐转变看法，觉得这个项目不再简单是个terminal emulation，而正成长为一个操作系统。Linus开发操作系统借鉴了UNIX的设计，书中这样写道：</p>
<blockquote>
<div>开发操作系统就是搞明白系统调用（system call）应该做什么，然后以你自己的方式编出能使系统调用得以执行的程序。总的来说，共有几百个系统调用。有些是多功能的，其余的则很单一。有些更基本的系统调用确实是十分复杂，并需要有大量的基础作为支持。比如，为完成“写”和“读”这两种系统调用，你就必须建立一个磁盘驱动程序，以便能够在磁盘里读或写东西。又比如“打开文件”的系统调用，你就必须创建一整套文件系统层，以便分析文件名和在磁盘上查找文件。早期的创建工作就是这样。我不但从Sun服务器的操作系统手册中查找标准，也从其他书中查到可用的标准，挑出一个一个的系统调用，然后为它们再编写出可行的软件。</div></blockquote>
<p>最终，Linus使用别人编写的shell程序（“Borne Again Shell”，简称bash）成功执行自己编写的系统调用程序，后来又编写了其他程序，Linux雏形显现。另外，据Linus称，一开始他一直使用**Freax**指代这个操作系统，Linux这个名字只是别人喜欢所以就用了。</p>
<p>我第一次接触Linux时，发现其标志物是一只企鹅，给我的第一印象是这他妈也太憨厚了。书中谈到了企鹅的由来，根据Linus妻子的解释，是因为Linus非常喜欢企鹅，她说，“Linus在澳大利亚的时候曾被一只动物园里的漂亮企鹅咬了一口。他喜欢逗弄小动物，总爱把手探出去。那些企鹅大概有一英尺高，他刚好能把手探到笼子那儿摸着他们。他晃动着手指，扮成鱼的样子。企鹅被招了过来，咬了他一口：咳，这口感可不像鱼。他虽然挨了企鹅的咬，可还是喜欢它们。我觉得他这辈子跟企鹅是没完了，只要一有机会，他就非去看企鹅不可。所以，当他在为找个标志而大伤脑筋时，我就提醒他，‘你这么喜欢企鹅，为什么不用企鹅做标志呢？’他说，‘哦，让我想想。’”于是Linus公开征集企鹅图片，结果他选中来自某大学科学与计算机系里的一位画家的作品……接着本书作者也不忘讽刺一下——这企鹅可不是随便哪一只都行。Linus想让它有副爽透了的样子，就像刚喝下去的一扎鲜啤酒，然后又体验了一次无与伦比的性高潮。除此之外，这只企鹅还一定要很特别才行。于是，其他的企鹅都是黑嘴巴黑脚蹼，但Linux的企鹅确是黄嘴巴黄脚蹼，这使它看上去好像是鸭子与企鹅的杂交品种。也许它是唐老鸭南极之旅中与一只当地企鹅一夜情的结晶。（可真能挖苦啊……）</p>
<p>除了讲述丰富的生活、Linux开发中遇到的各种情况外，这本书还有一部分在阐述Linus对于版权的看法。摘录两段话：</p>
<blockquote>
<div><p>总的来说，我从两方面看版权。比如一个每月挣五十美元的人，他可能会为一个软件花费二百五十美元吗？如火花一点钱买非法盗版软件，而把五个月的工资用于吃饱肚子，我一点不觉得他不道德。这种侵权道义上是可以接受的。去追捕这种“侵权者”是不道德的，简直就是愚蠢的。就Linux而言，谁在乎如果只将其用于个人目的时，一个人是否真的遵循GPL呢？那些想借此赚大钱的人们，才是真正不道德的，不管他们是在美国还是非洲，也不管程度如何。贪欲从来就不是善的；</p>
<p>我热爱版权，我只是认为没必要将版权所有者的权利无限扩大，不要扩大到将消费者的权利被剥夺殆尽。</p>
</div></blockquote>
<p>深以为然。</p>
<p>总的说来，他是一个幽默有趣、有责任感、不贪婪的人。我喜欢他有趣的一面。比如，有次他听闻一些加盟微软的朋友告诉他，他们曾见到他的头像被钉在了微软公司里的飞镖靶心上，他对此唯一的评论是：<strong>我的大鼻子实在太好瞄准了</strong>。</p>
</div>]]></description>
            <category><![CDATA[ Read ]]></category>
             <pubDate>Thu, 17 Jan 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2013/01/12/zen_mind.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2013/01/12/zen_mind.html</guid>
            <title><![CDATA[清净的心]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>清净的心</h1>
<p>《禅者的初心》这本书因为Steve Jobs火了，因为一句话——做任何事，其实都是在展现我们内心的天性，这是我们唯一存在的目的。我是很喜欢这句话，不过没在书中找到原话，但有句相似的话，可能是翻译的原因。书大概18万字，概括起来可能只有几点。当然，书还是值得翻一遍。记录几点印象深刻的，时刻勉励自己：</p>
<blockquote>
<div><p>禅修的心应该始终是一颗初心（初学者的心）。初学者的心是空空如也的，不像老手的心那样饱受各种习性的羁绊。它随时准备好去接受、去怀疑，并对所有的可能性敞开。只有这样的心才能如实看待万物的本然面貌，一步接着一步前进，然后在一闪念中证悟到万物的原初本性。</p>
<p>坐禅时唯一存在的只有“<strong>呼吸</strong>”。</p>
<p>很多事物的关系都是跟青山白云的关系相似，像是男与女、师傅与徒弟，彼此都互相依赖。但白云不应该被青山打扰，青山也不应该被白云打扰，两者都是相当独立，但又互相依赖。这就是我们应有的生活和修行的方式。</p>
<p>禅的本意是如物之所如去观物的本身，让一切自来自去。</p>
<p>当限制对你来说不再成为限制，那就是修行。</p>
<p>只有在没有计较心的情况下，你才是真正在做事。</p>
<p>道元禅师：<strong>“研究佛法是为了研究自己，研究自己是为了忘掉自己。”</strong></p>
<p>拥有一颗柔顺、自然的心，先丢开一切成见。若你的心被某些别的观念给纠缠住，你不是独立的，你不是你自己，那不是自然。</p>
<p>禅修的目的是归复清净的生活方式，超越一切的得失心以及名利之心。</p>
</div></blockquote>
<p>归根结底，这本书并不是教你如何禅修或修行，它其实是在指导你如何保持一颗清净的心，最终达到清净的生活。</p>
</div>]]></description>
            <category><![CDATA[ Read ]]></category>
             <pubDate>Sat, 12 Jan 2013 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2012/12/15/free.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2012/12/15/free.html</guid>
            <title><![CDATA[免费]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>免费</h1>
<p>中午去浴室洗澡，发现一个现象，越来越多的人采用一个讨巧的方法避开刷卡计费，进而免费享用热水。这个方法以前听同学说过，不过一直没试过，也不屑去用。站我旁边洗澡的一家伙几乎和我同时洗澡，我走的时候他仍然在洗，期间他的热水一直没有断过！如果断水的话就需要重新使用这个讨巧的办法，他嫌麻烦所以就让热水一直这么流着。按钱来算的话，他会是我的两倍。内心里我是很反感这种人，钻漏洞免费享用资源。如果在这过程中仍怀着愧疚和羞耻之心的话，可以接受，问题是在他身上丝毫没看出这些来，相反，他还嬉笑告诉同伴该如何如何使用。</p>
<p>回宿舍的路上，我揣摩了一下这个方法是如何被发现的。有一种可能是这是无意中被人发现的，而且可能性很大。想象一下当时的情景：拿校园卡刷一个水龙头下的计费器，发现不好用，然后刷邻近的一个，还是不好用，再回来刷，有用了！如果时机恰当的话，他会发现计费器上的显示器并没有扣费，而是停止不动。然后，他开玩笑地告诉其他人。最终一传十、十传百地传开了……</p>
<p>我不会谴责这个发现者，也许他是无意的。但我会谴责那些没有愧疚感和羞耻感在享用免费热水的人。这种现象在生活中简直随处可见。曾看过一个视频《盗版启示录》，讲的是中国用户如何如何使用盗版软件。身边就有这样的例子，比如十块钱装Win7基础版，30块钱装旗舰版。还有一种也是很常见、但你可能没意识到，下载电子书！说实话，这是我最最感到愧疚和羞耻感的事情，因为我自己经常这样做，一是方便，二是省钱。现在我还保证不了完全使用正版的东西，但是待我经济独立后，肯定完全支持正版，坚决不用盗版东西。</p>
<p>中国人很聪明，善于钻各种漏洞、免费享用各种资源并以此为豪。其实最终还是损害了自己的利益。比如你非常喜欢一个免费的APP，但又抱怨其中出现的广告，而APP开发者会这样想，你作为用户没有给我钱，那我如何赚钱，只能靠广告维持生计。所以，如果你真心喜欢一个东西，为它付出钱也是应该的。毕竟没有人会善良大方、不计回报地为你付出。周而复始，这会形成一个良性循环，开发者无需担忧生活，相反可以创造更有价值的东西供你使用。我相信，越来越多的人会明白这个道理，并会身体力行。</p>
<p>不知为什么，刚才吃午饭的时候发现很平常的饭菜突然特别的好吃，可能是因为心怀羞耻和感恩。难道这就是为什么基督教徒饭前祈祷的原因？最近因为冯小刚的《一九四二》比较关注大饥荒（我不是很喜欢这部片子，几乎没有情节，看了没多久就厌倦了），查了一些资料，有了一些基本认识，其中让我感到震撼之一的是人食人的描述：</p>
<blockquote>
<div>在四川省的桥头区，老妇人罗文秀是第一个开始吃人肉的人。在有家人一家七口全部死去后，罗文秀把三岁女童马发慧的尸体挖出来。她把小女孩儿的肉割下来，用辣椒调味，然后蒸熟吃掉。</div></blockquote>
<p>看到这样的描述，我无言以对。你可以想象六几年的大饥荒的严重程度，再想像一下如果哪一天你也身处这样的环境下，不寒而栗吧。至少我是这样。当然，我们现在肯定不会重返旧境，但是我们不该忘记这段历史，这段足以让任何人感到愤怒和耻辱的历史。说这些只是提醒我自己不该忘了最起码的羞愧和感恩之心。<strong>因为我们经常被免费的东西冲昏头脑，以至于不择手段地获取本不该免费的东西。</strong></p>
</div>]]></description>
            <category><![CDATA[ Essay ]]></category>
             <pubDate>Sat, 15 Dec 2012 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2012/11/11/rice_in_soup.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2012/11/11/rice_in_soup.html</guid>
            <title><![CDATA[无非求碗汤泡饭]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>无非求碗汤泡饭</h1>
<p>晚饭点冬瓜排骨火锅，来学校好久都没吃到冬瓜和排骨，尤其是啃完不多的排骨后肉汤泡饭，那一刻，心中弥漫着满满的幸福和满足，身体的每一个细胞都在回味着无与伦比的味道。不禁想起在家随意吃排骨的日子，还记得夏末回学校前的中午的红烧排骨，酥软的肉附着在排骨上，含在嘴里牙齿一蹭肉就滑到嗓子里……说完排骨来谈汤泡饭，小时候最喜欢汤泡饭了，肉汤、鸡汤、紫菜汤，能泡饭的都不拒千里之外。今晚用汤勺舀一口饭放在嘴里时，智商、情商瞬间提升，差点流出泪来，我是多久没享受过肉汤泡饭了啊。</p>
<p>然后想到最近在看的一本书《无非求碗热汤喝》，书的作者是张佳玮，每次午睡前、洗脚时都会捧在手里细细品味书中的一字一句，慢慢回忆家的味道、妈妈和奶奶的菜、幼时的傻事……书中同名文章里的最后一句话是——<strong>对独行寒夜、饥寒交迫而又无可奈何者，最富有人情味和最实在的，无非是有一碗热汤喝</strong>。我的心情大致如此。</p>
<p>外面风呼号，我也不知是北风、东风还是南风，因为它总会出人意料地从各个方向抚摸着你让你乱叫。所以通常我们都叫它360度环绕立体风，不仅名字够炫，效果还更透心凉，比喝雪碧还心飞扬。要是去海边的话，那真够爽的。去年十二月的某个中午，阳光好，海乱叫，我傻乎乎地到栈桥上转了一圈，为了拍惊涛拍岸那一幕，拿着手机愣是站了一分多钟，手冻得通红，甚至有点麻木、没感觉。用皓子的话说，哥也是见过大风大浪的人……</p>
<p>上个月经常熬夜，有时近一点，导致白天精神差，略萎靡，十一月调整作息时间，恢复到以前的状态，早睡早起，元气逐渐恢复。其实每天把事情都尽量安排早一点做、早一点完成，晚上就不必那么累。上周六和这周日早上一二节都有物理实验，我都是早上不到六点起来，刷牙洗漱，吃完早餐，赶往教室写实验报告。然后八点做物理实验，基本不到九点就完成了。今早上，天气有些诡异，太阳照常升起，漫天的浓云阻挡了大部分金色的光线，但仍有一小部分冲破障碍喷射出来，刺人眼目，而浓云也被染上一层略微粉红的色彩，天空精彩至极。脑子突然闪现一句话，早起的鸟儿不一定有虫吃，但一定有美丽的风景可看。</p>
<p>每到秋天，风起叶落之时，未免心生惆怅，思绪乱飞，可又不想多说话，静静地做些事情便可。几天前大致研究了一下kindle paperwhite，想买，但是有瑕疵，亮度调高之后屏幕底部会有漏光现象。转而考虑kindle black 4，少了屏幕带光的技术，但看书的功能没变，而且价格也少了近一半，心有所动，等忙完手头事准备入手一个。目前对于更新速度越来越快的手机、平板等电子产品已没多大兴趣，我的手机除了基本的电话、短信功能之外，只剩下无聊时拍几张照片的价值。买东西我只看重它的核心功能，其他次要功能都可忽略。kindle是我关注很久的东西，迟迟不入手是原本觉得它有很多的缺点，慢慢觉得这些缺点都掩盖不了它最大的优点——纯粹的阅读体验。或许这也是它注定不会像iPad那样极度流行，因为它只是为那些喜欢看书、享受安静看书获取知识和快乐的人准备的。所以它也不会死，因为总有这么一群人存在着。</p>
<p>写这么多，完全是冬瓜排骨汤惹的祸，吃饱喝足，兴致大发，满嘴碎语，吐露心声。</p>
</div>]]></description>
            <category><![CDATA[ Essay ]]></category>
             <pubDate>Sun, 11 Nov 2012 00:00:00 +0800</pubDate>
        </item>
    
        <item>
            <link>http://oh1rouny.bitbucket.org/blog/html/2012/10/27/river_town.html</link>
            <guid>http://oh1rouny.bitbucket.org/blog/html/2012/10/27/river_town.html</guid>
            <title><![CDATA[江城]]></title>
            <description><![CDATA[<div class="section" id="id1">
<h1>江城</h1>
<p>趁亚马逊图书打折，买了十几本书，《江城》是其中之一，作者是Peter Hessler，中文名何伟。知道他源于畅销一时的《寻路中国》，曾在书店中看到这本书，翻几页没产生兴趣，遂打消购买欲望放回书架。可能跟当时的心境有关系的，那时高三。</p>
<p>昨天中午拿到这本书，到今天下午3点看完，外面风声、雨声轮番上阵。必须承认，这是今年目前为止看过的对我触动最大的一本书，真想成为他在涪陵师专支教的学生，真想去涪陵看一看，即使这是一座又脏又吵闹、空气中充满煤尘、司机喜欢不停按喇叭的江畔之城。这是我读完最直接的感受。而真正打动我、对作者产生钦佩之情的却是他仔细观察周围环境气氛和细致揣测复杂江城人性。虽然作者说“这并不是一本关于中国的书，它只涉及一小段特定时期内中国的某个小地方”，但是我能感受到这分明就是在描摹我们每一个人，我甚至回忆起了自己幼时种种经历。这是一本很值得读和思考的书。</p>
<p>第一章《顺江而下》里何伟刚到涪陵师专，一切事物都充满新鲜和陌生感，这倒是其次，最让他感到不可思议的是他和其他人的思想差异性以及隐藏在背后的政治意义。作者提到中国人和外国人对待自然环境的态度是不一样的——“当我看到那些呈梯状的小山包，注意的是人如何改变土地，把它变成了缀满令人眩目的石阶的水稻梯田；而中国人看到的是人，关注的是土地怎样改变了人”。这是他刚到学校产生的疑惑，也是他在涪陵师专两年的时间里不停探求的东西。很显然，在这本400多页的书里，何伟对于复杂人性和许多政治问题的剖析令我折服。</p>
<p>第四章《大坝》里涉及了三峡工程，没动工之前，对于是否该建设三峡大坝争议不断，然而在会产生直接影响的涪陵，人们却并没有任何不快，显示出漠不关心的状态。在作者看来，除了人们缺乏社区感和不参与公共事务之外，在背后起作用的是影响深远的中国传统的集体主义思想。作者举了一个排队买票的例子，集体来看，一群乌合之众都有着一个共同的目标——把票买到手——但除此之外再也没有什么东西能把他们凝聚起来，于是，每一个个体都会拼尽全力，以尽快地实现个人目标。</p>
<p>有次作者乘坐游客专用船浏览了大宁河，看了那些有各种称呼的山，比如八戒拜佛、睡美人。他不无感叹道，“这在中国的每一个自然景点已经成了俗套，自然界如果不跟人找到某种结合点就一无是处”。</p>
<p>在涪陵，如果当地人被问到某座古墓建于什么时候，答桉总是一致——“清朝”。作者认为，当一个涪陵人说到清朝的时候，他真正的意思好像是在说：很老，但又没有别的东西那么老。相信每一个人读到这一句话时都有所触动吧。这就像我们常挂在嘴边的传统文化、拆了又建建了又拆的彷古建筑。</p>
<p>有次寒假，作者没有像其他志愿者那样出去游玩，而是留在涪陵。整个寒假期间，他说，居然没有一个英语系的同事请他吃饭，后来他了解到这都是上面的明确指令使然，他觉得这事儿就像干部们制定的其他一些政策一样，其中存在着一种模棱两可而又毫无意义的偏执。
书中到处都是这些何伟对中发生在涪陵的很多事情的思考，有些角度连我们自己都没有发觉，我们自顾自地上演着可笑滑稽的生活。这些事情会轻而易举地发生在中国的其他地方，每个人都会有共同的体验，何伟描摹的涪陵其实是每一个人的江城。</p>
<p>除了一些犀利的见解，我也喜欢何伟温情的一面，印象最深的是他谈及中国人“笑容”的两个片段。一个片段是黄小强说道他爷爷是地主被镇压时，比划了一下动作——就在后脑勺部位——然后他笑了笑。何伟说这是中国人特有的笑容，有些令人不安，跟幽默毫不相干。这样的笑容取代的是纯粹没有说出的话。另一个片段是他的学生琳达办完父亲的丧事从家回学校，何伟到车站去接她时看到她竭力想挤出一丝笑容。他说这是中国人那种勇敢的微笑，掩藏了所有的感情，受着压抑，受着控制，被挤进了边沿——也许是嘴角一翘，也许是眉头一皱。简简单单的几句，动情瞬间袭击了我。好久没有读到这种文字，一下子竟难以适应。</p>
<p>还有，何伟的文字不乏生动趣味，比如说到四川人喝酒的场景——但凡画着一条可爱的河流的卷轴上，十有八九会描绘这样的劝酒场景，两个男人争抢一只酒杯，边上的女子持酒瓶而立。</p>
<p>在涪陵的两年支教结束后，何伟离开了这块已经成为他的家的地方。书的开篇他曾提到自己不知在未来的两年里将发生的一切会如何影响他，两年之后，我相信他已经有了答桉。很多事情，作为旁观者，他看得很明白，但还是不能直言，否则会伤害他的学生和当地人的感情。他也承认，“在1996年至1998年间，我学会了热爱涪陵”。</p>
<p>最后，用一段临走前何伟对他的学生的感情结束本文：<strong>他们坚韧、可爱、有趣、忧伤，像他们这样的人永远都会没事儿的。人生不一定处处是美景，但也许正因为如此，它才会永存下去。</strong></p>
</div>]]></description>
            <category><![CDATA[ Read ]]></category>
             <pubDate>Sat, 27 Oct 2012 00:00:00 +0800</pubDate>
        </item>
    
    </channel>
</rss>